IOTPlatformServer/dist
IOTPlatformServer/node_modules
IOTPlatformServer/.env
IOTPlatformClient/node_modules
IOTPlatformClient/dist
IOTPlatformServer/config
/.idea
/.vscode
.project
.classpath
*.launch
.settings/
