<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>IOT Platform Overview</small></h2>
    
    <hr />
    
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Topics!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-users'" [count]="12" [label]="'Users!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-file'" [count]="124" [label]="'Logs!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-tablet'" [count]="13" [label]="'Devices!'"></app-stat>
        </div>
    </div>
    <hr />
    
</div>
